<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Accueil</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Tous les produits", store_path %></li>
            <li><%= link_to "Mon panier", cart_path %></li>
            <li><%= link_to "S'inscrire", new_user_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <h2>Services & garanties</h2>
        <ul class="nav nav-tabs nav-stacked">
        	<li><i class="icon-ok-sign"></i>Paiement en 3X : Payez vos commandes en 3 fois. Ce service, réservé aux particuliers, vous est proposé pour le paiement de vos commandes à partir de seulement 100 € d'achat (jusqu'à 3 000 €).</li>
        	<br>
        	<li><i class="icon-ok-sign"></i>Retrait et retour matériel SAV en agence : Commander sur notre site, c'est aussi la possibilité de retirer vos commandes dans notre réseau d'agences et de profiter d'un service après-vente de spécialistes du high-tech.</li>
        	<br>
        	<li><i class="icon-ok-sign"></i>Livraison en France et Belgique : Commandez le meilleur du High-Tech sur notre site et vous serez livrés dans les meilleurs délais en France Métropolitaine, dans les départements et territoires d'Outre Mer ou en Belgique.</li>
        	<br>
        	<li><i class="icon-ok-sign"></i>Économie rime avec écologie : notre site s'engage dans la protection de l'environnement avec l'utilisation d'emballages recyclables (mêlant carton et papier kraft) et robustes pour la sécurité de vos produits.</li>
      </div>
    </div>
  </div>
</body>
</html>